---
import Layout from "../layouts/Layout.astro";
import dogImage from "@assets/dog.jpg";
---

<Layout title="Welcome to Astro.">
  <main class="main">
    <div class="container">
      <div class="main__inner">
        <h2 class="main__title">Webforyou</h2>
      </div>
    </div>
  </main>

  <section id="about">
    <div class="container">
      <div class="about__inner">
        <h2 class="about__title">
          <span>НАША СИЛЬНАЯ СТОРОНА</span>
          <span>ЭТО СПИЗДИТЬ ДИЗАЙН</span>
          <span>САЙТОВ И ПРИЛОЖЕНИЙ.</span>
        </h2>
        <div class="about__content">
          <span class="about__link">
            <span class="about__link-text">Наведите, чтобы увидеть фотографию основателя</span>
            <span class="about__link-image">
              <img src={dogImage.src} alt="dog" width="50" height="50" />
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>

  <section class="menu">
    <div class="container">
      <div class="menu__inner">
        <nav class="menu__navigation">
          <ul class="menu__navigation-list">
            <li class="menu__navigation-item"><a class="menu__navigation-link" href="/">Главная</a></li>
            <li class="menu__navigation-item"><a class="menu__navigation-link" href="#about">О нас</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</Layout>

<style>
  .main {
    height: 100vh;
    background-color: #fff;
  }
  .main .container {
    position: sticky;
    top: 123px;
    filter: blur(2.66667px);
  }

  .main__inner {
    position: absolute;
    left: 0;
    right: 0;
  }

  .main__title {
    text-align: center;
    font-size: 5rem;
    line-height: 1;
    font-weight: 500;
    opacity: 0.3;
  }
  #about {
    padding-top: 100px;
    position: relative;
    min-height: 2000px;
    background-color: #2c2c2c;
  }
  .about__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__title span {
    color: #fff;
    font-size: 5rem;
    line-height: 1;
  }

  .about__content {
    display: flex;
  }

  .about__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    color: #fff;
    width: 500px;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;

    overflow: hidden;

    transition: all 0.5s ease;
  }

  .about__link:hover {
    border: none;
    border-radius: 0;
  }

  .about__link:hover .about__link-image {
    opacity: 1;
    visibility: visible;
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
  }

  .about__link-text {
    text-wrap: balance;
    text-align: center;
    font-size: 1.25rem;
    max-width: 250px;
  }

  .about__link-image {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    opacity: 0;
    visibility: hidden;

    transition: all 0.5s ease;
  }

  .about__link-image img {
    width: inherit;
    height: inherit;
    object-fit: contain;
    margin: 0 auto;
  }

  .menu {
    position: fixed;
    top: -100vh;
    right: 0;
    bottom: 100vh;
    left: 0;
    visibility: hidden;
    background-color: #373e4d;
    padding-top: 123px;
    overflow-y: auto;

    transition: all 0.5s ease;
  }
  .menu.is-open {
    top: 0;
    bottom: 0;
    visibility: visible;
  }
  .menu__navigation-link {
    position: relative;
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
    /* padding: 0 16px; */
    /* transition: all 0.15s ease; */
  }
  .menu__navigation-link:hover {
    /* background-color: #2c2c2c; */
  }
</style>

<script>
  const titles = document.querySelectorAll(".about__title span");
  const header = document.querySelector(".header");
  let lastKnownScrollPosition = 0;
  let ticking = false;

  function fadeRight(title: any) {
    title.setAttribute("style", `transform: translate(${lastKnownScrollPosition / 5 - 150}px, 0px);`);
  }
  function fadeLeft(title: any) {
    title.setAttribute("style", `transform: translate(-${lastKnownScrollPosition / 5 - 150}px, 0px);`);
  }

  document.addEventListener("scroll", (event) => {
    lastKnownScrollPosition = window.scrollY;
    if (lastKnownScrollPosition !== 0) {
      header?.classList.add("is-hidden");
    } else {
      header?.classList.remove("is-hidden");
    }
    if (!ticking) {
      window.requestAnimationFrame(() => {
        fadeRight(titles[0]);
        fadeLeft(titles[1]);
        fadeRight(titles[2]);
        ticking = false;
      });

      ticking = true;
    }
  });
</script>
